<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringDockerMysqlApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="spring-docker-mysql" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.springdockermysql.SpringDockerMysqlApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>